

<% layout('layout/boilerplate') %>

<div class="glow one"></div>
<div class="glow two"></div>

<!-- Changed class name here -->
<div class="auth-container">
<h1>Home Page</h1>
<p>Welcome to your Whisper Cloud account</p>

<button type="button">Logout</button>
</div>
